@import 'partials/foundation';
@import 'partials/settings';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

$small-only: "only screen and (max-width:640px)";
$medium-down: "only screen and (max-width:960px)";
$medium-only: "only screen and (min-width:640px) and (max-width: 960px)";
$medium-up: "only screen and (min-width: 640px)";
$large-only: "only screen and (min-width:961px)";

$moderate-gray : #262626;
$dark_gray : #333;

$light-teal : #8EC1C1;

body {
  font-family: "Open Sans", sans-serif;
  background-color: $light-teal;


}

div.content {
  max-width: 900px;
}

div.row {
  border: 1px solid black;

}

div.row:nth-child(1) {
//  background-color: blue;  
}

logo {

  @media #{$small-only} {
    .top_header {
      background-color: $moderate-gray;
    }

    .star {
      color: $light-teal;
      font-weight: 700;
      font-size: 32px;
    }

    .fox {
      color: $light-teal;
      font-weight: 400;
      font-size: 32px;
    }

    .ita {
      display: none;
    }
  }


  padding-top: 10px;

  .top_logo_img {
    background-image: url("/images/logo.png");
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;
  }
}

nav {
  @media #{$small-only} {
    display: none;
  
    menu_button {
      display: block;
    }

  }

  @media #{$medium-up} {
      menu_button {
        display: none;
      }
  
      li {
        display: inline-block;
        padding-left: 10px;
        padding-right: 20px;
      }

  }


}

slogan {
//  background-color: blue;
  .slogan_ufo {
    background-image: url("/images/ship.png");
    height: 300px;
    width: 500px;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: center;

    margin-left: auto;
    margin-right: auto;
  }
  .slogan {
    text-align: center;
    font-size: 28px;
    font-weight: 200;
    padding-left: 65px;
    padding-right: 65px;
    span {
      font-weight: 600;
    }
  }

  .more_info {
    background-color: red;
    text-align: center;
    margin: 0 70px 30px 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: 200;
    font-size: 24px;
  }

}

.product {
  background-color: $dark_gray;
  // margin-left: 70px;
  // margin-right: 70px;
  margin-bottom: 20px;

  h2 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  h3 {
    color: white;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    text-decoration: underline;
  }

  p {
    color: white;
  }
}