@import 'partials/foundation';
@import 'partials/settings';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

$small-only: "only screen and (max-width:640px)";
$medium-down: "only screen and (max-width:960px)";
$medium-only: "only screen and (min-width:640px) and (max-width: 960px)";
$medium-up: "only screen and (min-width: 640px)";
$large-only: "only screen and (min-width:961px)";

$dark-gray : #262626;
$medium-gray : #535353;

$light-teal : #8EC1C1;

$radius-button-width : 95%;

body {
  font-family: "Open Sans", sans-serif;
  @media #{$medium-down} {
    background-color: $light-teal;
  }

  @media #{$large-only} {
    background-color: white;
  }
}

div.content {
  // max-width: 900px;
}

logo {

  @media #{$small-only} {
    .top_header {
      background-color: $dark-gray;
    }

    .star {
      color: $light-teal;
      font-weight: 700;
      font-size: 32px;
    }

    .fox {
      color: $light-teal;
      font-weight: 400;
      font-size: 32px;
    }

    .ita {
      display: none;
    }
  }


  padding-top: 10px;

  .top_logo_img {
    background-image: url("/images/logo.png");
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;
  }
}

nav {
  background-color: $dark-gray;

  @media #{$small-only} {
    .menu_button {
      float: right;
      background-color: red;
    }
  }

  @media #{$medium-up} {
      ul {
        padding-top: 20px;
        padding-bottom: 20px;

        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      li {
        display: inline-block;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 20px;
        color: $light-teal;
        // font-weight: 400;
      }

      li:hover {
        color: white;
        // font-weight: bold;
      }

  }


}

.slogan_ufo {
  background-image: url("/images/ship.png");
  height: 300px;
  width: 500px;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position: center;

  margin-left: auto;
  margin-right: auto;
}

.slogan_ufo2 {
  @extend .slogan_ufo;

  height: 100px;
  width: 160px;
  background-size: 160px 160px;
}

slogan {
  .label.radius {
    background-color: $light-teal;
    border-radius: 5px;
  }

  .slogan {
    text-align: center;
    font-size: 28px;
    font-weight: 200;
    padding-left: 65px;
    padding-right: 65px;
    span {
      font-weight: 600;
    }
  }

  .more_info {
    background-color: $medium-gray;
    text-align: center;
    margin: 0 70px 30px 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: 200;
    font-size: 24px;
  }

}

.row .product {
  background-color: white;
}

.product {
  margin-bottom: 20px;

  .radius.button {
    width: $radius-button-width;

    border-radius: 20px;
    background-color: $medium-gray;
    margin-left: 0;
    margin-right: 0;
  }

  .radius.button:hover {
    background-color: $dark-gray;
  }

  h2 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  h3 {
    display: inline;
    color: white;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    border-bottom: 8px solid white;
    padding-bottom: 10px;
  }

  p {
    padding-top: 50px;
    padding-left: 25%;
    padding-right: 25%;
    color: white; 
  }
}

.sub_product {
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;


  .radius.button {
    width: $radius-button-width;
    border-radius: 20px;
    background-color: $medium-gray;
  }

  .radius.button:hover {
    background-color: $dark-gray;
  }

  h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  h3 {
    display: inline;
    color: white;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    border-bottom: 4px solid white;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    padding-top: 20px;
    color: white; 
  }
}

footer {
  padding-top: 20px;

  text-align: center;
  background-color: $dark-gray;
  color: $medium-gray;
}