@import 'partials/foundation';
@import 'partials/settings';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

$small-only: "only screen and (max-width:640px)";
$medium-down: "only screen and (max-width:960px)";
$medium-only: "only screen and (min-width:640px) and (max-width: 960px)";
$medium-up: "only screen and (min-width: 640px)";
$large-only: "only screen and (min-width:961px)";

$dark-gray : #262626;
$medium-gray : #343434;
$light-gray : #535353;
$lightest-gray: #636363;

$light-teal : #8EC1C1;

$radius-button-width : 95%;


// only applies to small size
.top-bar {
  padding-top: 10px;
  padding-bottom: 20px;
  height: 65px;

  .title-area {
    .toggle-topbar {
      padding-right: 20px;
    }

    .name {
      h1 {
        span {
          font-size: 24px;
        }
        font-size: 24px;
      }
    }
  }

  section.top-bar-section {
    li {
      border-top: 2px solid $light-teal;
      text-align: left;
      padding-left: 20px;
      a {
        text-decoration: none;
        font-size: 24px;
        font-weight: lighter;
        color: $light-teal
      }
    }
  }
//  background-color: pink;

}

body {
  font-family: "Open Sans", sans-serif;
  @media #{$medium-down} {
    background-color: $light-teal;
  }

  @media #{$large-only} {
    background-color: white;
  }
}

div.content {
  // max-width: 900px;
}

header {
  @media #{$small-only} {
    color: $light-teal;

    margin-top: 5px;
    border-radius: 0px;

    h1 {
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
  }

  @media #{$medium-up} {
    display: inline;
    text-align: left;
    font-size: 32px;

    p {
      display: block;

      margin-top: 0px;
      .star, .fox {
        font-weight: bold;
      }
    }

    .top_header {
      height: 200px;
      background-image: url("/images/header_bg.png");
      background-repeat: background-repeat;
      background-color: $light-teal;
    }

    padding-top: 10px;
    text-align: center;

    .top_logo_img {
      background-image: url("/images/logo-white.png");
      @media #{$small-only} {
        height: 50px;
        width: 50px;

        background-size: 50px 50px;
      }

      @media #{$medium-up} {
        height: 100px;
        width: 200px;

        background-size: 200px 200px;
        background-position: center;
      }
      background-repeat: no-repeat;
      background-position: center;

      display: inline-block;
    }
  }
}

nav {
  background-color: $dark-gray;
  border-radius: 10px;

  text-align: center;


  @media #{$medium-up} {

    margin-top: -50px;
    margin-bottom: 50px;

    ul {
      padding-top: 20px;
      padding-bottom: 20px;

      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    li {
      display: inline-block;
      font-size: 18px;
      padding-left: 10px;
      padding-right: 20px;
      color: $light-teal;
    }

    li:hover {
      color: white;
    }

  }


}

.slogan_ufo {
  background-image: url("/images/ship.png");
  height: 300px;
  width: 500px;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position: center;

  margin-left: auto;
  margin-right: auto;

  @media #{$small-only} {
    height: 250px;
    width: 300px;
    background-size: 300px 300px;
    background-position: center;
  }

}

.slogan_ufo2 {
  @extend .slogan_ufo;

  margin-top: -50px;
  // margin-bottom: 50px;

  height: 200px;
  width: 300px;
  background-size: 300px 300px;
}

slogan {
  .label.radius {
    background-color: $light-teal;
    border-radius: 5px;
  }

  .slogan {
    text-align: center;
    font-size: 28px;
    font-weight: 200;
    padding-left: 65px;
    padding-right: 65px;
    span {
      font-weight: 600;
    }
  }

  .more_info {
    width: 90%;
    background-color: $light-gray;
    text-align: center;
    margin: 0 60px 30px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: 200;
    font-size: 24px;
    box-shadow: 0 5px 1px #262626;
  }

}

.row:nth-child(1) {
  max-width: none;
}

.row .product {
  padding-top: 60px;
  background-color: white;
  
  @media #{$small-only} {
    padding-left: 60px;
    padding-right: 60px;
  }

//  @media #{$medium-only} {
    .product_med_leftcol, .product_med_rightcol {
      width: 100%;
      height: 100%;
      margin-top: 20px;
      box-sizing: border-box;
      vertical-align: middle;
    }

    .product_med_leftcol {
      text-align: center;
    }
//  }

  .product-box {
//    width: $radius-button-width;

    border-radius: 6px;
    background-color: $light-gray;
    margin-left: 0;
    margin-right: 0;
  }

  .product-box:hover {
    background-color: $medium-gray;
  }

  .product_title {
    width: 100%;
    border-bottom: 2px $lightest-gray groove;
    border-color: $lightest-gray;
    @media #{$medium-only} {
      border-bottom: 0px;
    }
  }

  h2 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
//    border-bottom: 1px solid black;
    @media #{$medium-only} {
      text-align: left;
    }
  }

  h3 {
    display: inline-block;
    color: white;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    border-bottom: 10px solid white;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
//    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;

    @media #{$large-only} {
      padding-left: 10%;
      padding-right: 10%;
    }
    @media #{$small-only} {
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
    }
    color: white; 

    @media #{$medium-only} {
      text-align: left;
      padding-left: 0%;
      padding-top: 10px;
    }
  }
}

.sub_product {
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
//  width: 100%;

  .sub-deal {
    border-bottom: 2px $lightest-gray groove;
    border-color: $lightest-gray;
  }

  .product-box {
//    width: $radius-button-width;
    border-radius: 5px;
    background-color: $light-gray;
    text-align: center;
  }

  .product-box:hover {
    background-color: $medium-gray;
  }

  h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    color: white;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
//    padding-top: 20px;
    padding-bottom: 5px;
    color: white; 
  }

  .more_deals_inside {
    font-size: 24px;
//    border-top: 1px solid black;
  }
}

footer {
  padding-top: 20px;
  @media #{$small-only} {
    padding-top: 0px;
  }


  .more_deals {
    background-color: $light-teal;
    margin-top: 25px;
    padding-bottom: 5px;
    color: white;
    font-size: 24px;
    font-weight: 600;
  }

  .copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
  }
  text-align: center;
  background-color: $dark-gray;
  color: $light-gray;
}